html, body{
	margin: 0;
	border: 0;
}

main{
	text-align: center;
}

input[type="text"]{
    width: 10%;
    text-align: left;
}

h1{
	font-family: 'Playfair Display', serif;
}

label{
	font-family: 'Poiret One', cursive;
	font-weight: bold;
	
}

footer{
	text-align: center;
}
